<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="gps_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gps"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="gps"/>

    <gazebo reference="gps">
        <sensor name="gps_sensor" type="gps">
            <always_on>true</always_on>
            <update_rate>10</update_rate>
            <plugin name="gps_plugin" filename="libgazebo_ros_gps_sensor.so">
                <ros>
                    <remapping>~/out:=/fix</remapping>
                </ros>
                <frame_name>gps</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>



